body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(imagenes/fondo5.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 

  }
  
  .container {
    width: 600px;
    margin:auto; 
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  
  .container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .container input[type="text"],
  .container textarea,
  .container input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  .container textarea {
    resize: vertical;
  }
  
  .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .container input[type="submit"]:hover {
    background-color: #2980b9;
  }
  