body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(imagenes/fondo6.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 

  }
  
  .container {
    width: 800px;
    margin: auto;
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container h3 {
    margin-top: 0;
  }
  
  .container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container input[type="text"],
  .container input[type="number"],
  .container textarea,
  .container input[type="date"],
  .container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: auto;
  }
  
  .container textarea {
    resize: vertical;
  }
  
  .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
    
  }
  
  .container input[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  .exploracion {
    float: left;
    width: 40%;
  }
  
  .diagnostico {
    float: right;
    width: 50%;
  }
  