<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" type="text/css" href="../static/estilosMenu.css">
</head>
<body>
  <div class="container">
    <h2>Menú Principal</h2>

    <a href="{{url_for('administracionMedicos')}}" class="btn">Administración Médicos</a>
    <br>
    <a href="{{url_for('registroEXP')}}" class="btn">Registro Expedientes</a>
    <br>
    <a href="{{url_for('Actualizar')}}" class="btn">Actualizar Medicos</a>
    <br>
    <a href="{{url_for('citaExploracion')}}" class="btn">Citas de Exploracion</a>
    <br>
    <a href="{{url_for('consultarCitas')}}" class="btn">Consulta de citas</a>
    <br>
    <a href="{{url_for('mostrarRG')}}" class="btn">Mostrar Registros</a>
    <br>
    
 
  </div>

</body>
</html>
