
<div class="menu-container">
  <h1>Menú Principal</h1>
  <a href="{{url_for('consultarPC')}}" class="btn">Consultar Pacientes</a>
  <a href="{{url_for('register')}}" class="btn">Registro Paciente</a>
  <a href="{{url_for('citaExploracion')}}" class="btn">Citas de Exploracion</a>
  <a href="{{url_for('consultarCitas')}}" class="btn">Consulta de citas</a>
  <a href="{{url_for('mostrarRG')}}" class="btn">Consultar Medicos</a>
  <a href="{{url_for('buscar')}}" class="btn">Actualizar Medicos</a>
  <a href="{{url_for('administracionMedicos')}}" class="btn">Administración Médicos</a>
</div>